/catkin_ws/build/*
/catkin_ws/devel/*
/catkin_ws/install/*
/catkin_ws/logs/*

catkin_ws/.catkin_tools/profiles/profiles.yaml

catkin_ws/.catkin_tools/profiles/*
!catkin_ws/.catkin_tools/profiles/default
!catkin_ws/.catkin_tools/profiles/custom_profile

/catkin_ws/src/output_renders/*

/locosim/*
