<launch>

    <!-- <param name="" value="" /> -->

    <!-- TABLE CROPPING -->
    <param name="LEFT_CROP"  value="673" />
    <param name="RIGHT_CROP" value="874" />
    <param name="TOP_CROP"   value="95" />
    <param name="BOT_CROP"   value="817" />

    <!-- PIPELINE -->
    <param name="EROSION_SIZE"  value="4" />
    <param name="DILATION_SIZE" value="4" />

    <param name="LOWER_HUE"         value="110" />
    <param name="LOWER_SATURATION"  value="20" />
    <param name="LOWER_BRIGHTNESS"  value="50" />
    <param name="HIGHER_HUE"        value="194" />
    <param name="HIGHER_SATURATION" value="192" />
    <param name="HIGHER_BRIGHTNESS" value="206" />

    <!--<param name="LOWER_HUE"         value="103" />
    <param name="LOWER_SATURATION"  value="80" />
    <param name="LOWER_BRIGHTNESS"  value="110" />
    <param name="HIGHER_HUE"        value="116" />
    <param name="HIGHER_SATURATION" value="244" />
    <param name="HIGHER_BRIGHTNESS" value="229" />-->

    <!-- DETECTION -->
    <param name="INTERSECTION_TRESHOLD" value="0.5" />

    <param name="GUIL_MIN_DIST"        value="10" />
    <param name="GUIL_LEVELS"          value="360" />
    <param name="GUIL_DP"              value="3" />
    <param name="GUIL_MAX_BUFFER_SIZE" value="1000" />

    <param name="GUIL_MIN_ANGLE"    value="0" />
    <param name="GUIL_MAX_ANGLE"    value="360" />
    <param name="GUIL_STEP_ANGLE"   value="1" />
    <param name="GUIL_THRESH_ANGLE" value="1500" />

    <param name="GUIL_MIN_SCALE"    value="0.5" />
    <param name="GUIL_MAX_SCALE"    value="4.0" />
    <param name="GUIL_STEP_SCALE"   value="0.5" />
    <param name="GUIL_THRESH_SCALE" value="50" />

    <param name="GUIL_THRESH_POS"        value="10" />
    <param name="GUIL_CANNY_THRESH_LOW"  value="30" />
    <param name="GUIL_CANNY_THRESH_HIGH" value="110" />

    <!-- IMAGE DATASET -->
    <param name="BLUE"   value="1" />
    <param name="ORANGE" value="0" />
    <param name="YELLOW" value="0" />
    <param name="RED"    value="0" />
    <param name="VIOLET" value="0" />

    <param name="X1_Y1_Z2"            value="1" />
    <param name="X1_Y2_Z1"            value="1" />
    <param name="X1_Y2_Z2"            value="1" />
    <param name="X1_Y2_Z2_CHAMFER"    value="1" />
    <param name="X1_Y2_Z2_TWINFILLET" value="1" />
    <param name="X1_Y3_Z2"            value="1" />
    <param name="X1_Y3_Z2_FILLET"     value="1" />
    <param name="X1_Y4_Z1"            value="1" />
    <param name="X1_Y4_Z2"            value="1" />
    <param name="X2_Y2_Z2"            value="1" />
    <param name="X2_Y2_Z2_FILLET"     value="1" />

    <param name="BLOCK_DATASET_PATH"  value="/root/code/catkin_ws/src/images_database/blocks_dataset" />

</launch>