<launch>

    <!-- <param name="" value="" /> -->

    <!-- IMAGE SETTINGS -->
        <param name="IMAGE_HEIGHT" value="1080" />
        <param name="IMAGE_WIDTH" value="1920" />

    <!-- ROS NODE NAMES -->
        <!--QUEUE SIZE-->
        <param name="Q_Size" value="1000" />

        <!--JOINT STATES-->
        <param name="JS2Core_Data" value="JointStates_Data" /> <!--JointState-->
        <param name="Core2JS_Data" value="JointStates_New" /> <!--JointState-->
        <param name="Core2JS_Req"  value="JointStates_Request" /> <!--Bool-->

        <!--MOTION PLANNING-->
        <param name="Core2MP_Req"  value="MotionPlanning_Request" />  <!--bool-->
        <param name="Core2MP_Data" value="MotionPlanning_Data" />     <!--Float32MultiArray-->
        <param name="MP2Core_Data" value="MotionPlanning_Progress" /> <!--Float32MultiArray-->

        <!--DETECTION-->
        <param name="Core2Det_Req" value="Detection_Request" /> <!--Bool-->
        <param name="Det2Core_Res" value="Detection_Result" />  <!--Float32MultiArray-->
        <param name="Det2Zed_Req"  value="Camera_Request" />    <!--Bool-->
        <param name="Zed2Det_Data" value="Camera_Data" />       <!--PointCloud2-->
        <param name="Zed2Det_Img"  value="Camera_Image" />      <!--Image-->

        <!--DOCKER MITM-->
        <param name="Docker_Data"  value="/ur5/zed_node/point_cloud/cloud_registered" />  <!--PointCloud2-->
        <param name="Docker_Image" value="/ur5/zed_node/left_raw/image_raw_color" />      <!--Image-->
        <param name="Docker_Joint_In" value="/ur5/joint_states" />                        <!--JointState-->
        <param name="Docker_Joint_Out" value="/ur5/joint_group_pos_controller/command" /> <!--Float64MultiArray-->


</launch>