<launch>

    <include file="src/launch/global.launch" />
    <include file="$(find pkg__position_control)/launch/ur5main.launch" />
    <include file="$(find pkg__motion_planning)/launch/motion_planning.launch" />

    <param name="X" value="6" />
    <param name="Y" value="6" />
    <param name="Z" value="6" />

    <node pkg="pkg__dummy_nodes" type="Detection-Core_Dummy" name="DetectionCore_Dummy" output="screen" />

    <node pkg="pkg__dummy_nodes" type="JointStates_Dummy" name="JointStates_Dummy" output="screen">
        <param name="Topic" value="JointStates_Dummy" />
    </node>

    <node pkg="pkg__dummy_nodes" type="JointState_Listener" name="JointState_Listener" output="screen">
        <param name="Topic" value="/ur5/joint_states" />
    </node>

    <node pkg="pkg__dummy_nodes" type="Float64MultiArray_Listener" name="Float64MultiArray_Listener" output="screen">
        <param name="Topic" value="/ur5/joint_group_pos_controller/command" />
    </node>

</launch>