<?xml version='1.0'?>
<model>
  <name>X1-Y3-Z2-FILLET</name>
  <version>0.1.0</version>
  <sdf version='1.5'>X1-Y3-Z2-FILLET.sdf</sdf>
  <author>
    <name>Davide Mongera</name>
    <email>davidemongera@studenti.unitn.it</email>
  </author>
  <description>
    X1-Y3-Z2-FILLET
  </description>
</model>