<launch>

    <include file="src/launch/global.launch" />
    <include file="$(find pkg__control_new)/launch/settings.launch" />
    <include file="$(find pkg__motion_planning)/launch/motion_planning.launch" />
    
    <node pkg="pkg__control_new" type="UR5_Node" name="UR5_Node" output="screen" />

    <param name="STEPS" value="10" />
    
</launch>